<!DOCTYPE html>
<html lang="ru" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"/>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="jumbotron text-center rounded col-md-8 align-self-center pt-5">
        <div class="justify-content-center">
          <h1>Запись на услугу</h1>
        </div>
        <form th:action="@{/client/createAppointmentAttendance}"
                th:method="post"
                th:object="${formAttendance}"
                class="m-md-auto w-50 pb-3">
          <div class="mb-3">
            <label class="form-label" for="attendance">Услуга</label>
            <select th:field="*{attendance}"
                    name="attendance"
                    th:errorclass="is-invalid"
                    class="form-select"
                    id="attendance">
              <option value="" disabled selected>Выберите услугу</option>
              <option th:each="attendance : ${model.attendances}"
                      th:value="${attendance}"
                      th:text="${attendance}">
              </option>
            </select>
            <small th:if="${#fields.hasErrors('attendance')}"
                   th:errors="*{attendance}"
                   class="text-danger">Error message</small>
          </div>
          <button type="submit" class="btn btn-secondary">Далее</button>
        </form>
      </div>
    </div>
  </div>
</main>
<footer th:replace="~{fragments/footer}"/>
</body>
</html>
