<!DOCTYPE html>
<html lang="ru" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"/>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="jumbotron text-center rounded col-md-8 align-self-center pt-5">
                <div class="justify-content-center">
                    <h1>Изменить мастера</h1>
                </div>
                <form th:action="@{/masters/{id}/edit(id=${form.id})}"
                      th:method="post"
                      th:object="${form}"
                      class="m-md-auto w-50 pb-3">

                    <input th:field="*{id}"
                           type="hidden"
                           class="form-control text-center"
                           id="id"/>

                    <div class="mb-3">
                        <label class="form-label" for="surname">Фамилия</label>
                        <input th:field="*{surname}"
                               th:errorclass="is-invalid"
                               type="text"
                               class="form-control text-center"
                               id="surname"/>
                        <small th:if="${#fields.hasErrors('surname')}"
                               th:errors="*{surname}"
                               class="text-danger">Error message</small>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="name">Имя</label>
                        <input th:field="*{name}"
                               th:errorclass="is-invalid"
                               type="text"
                               class="form-control text-center"
                               id="name"/>
                        <small th:if="${#fields.hasErrors('name')}"
                               th:errors="*{name}"
                               class="text-danger">Error message</small>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="patronymic">Отчество</label>
                        <input th:field="*{patronymic}"
                               th:errorclass="is-invalid"
                               type="text"
                               class="form-control text-center"
                               id="patronymic"/>
                        <small th:if="${#fields.hasErrors('patronymic')}"
                               th:errors="*{patronymic}"
                               class="text-danger">Error message</small>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="email">Email</label>
                        <input th:field="*{email}"
                               th:errorclass="is-invalid"
                               type="text"
                               class="form-control text-center"
                               id="email"/>
                        <small th:if="${#fields.hasErrors('email')}"
                               th:errors="*{email}"
                               class="text-danger">Error message</small>
                    </div>

<!--                    <div class="mb-3">-->
<!--                        <label class="form-label" for="login">Логин</label>-->
<!--                        <input th:field="*{login}"-->
<!--                               th:errorclass="is-invalid"-->
<!--                               type="text"-->
<!--                               class="form-control text-center"-->
<!--                               name="login"-->
<!--                               id="login"/>-->
<!--                        <small th:if="${#fields.hasErrors('login')}"-->
<!--                               th:errors="*{login}"-->
<!--                               class="text-danger">Error message</small>-->
<!--                    </div>-->

<!--                    <div class="mb-3">-->
<!--                        <label class="form-label" for="password">Пароль</label>-->
<!--                        <input th:field="*{password}"-->
<!--                               th:errorclass="is-invalid"-->
<!--                               type="text"-->
<!--                               class="form-control text-center"-->
<!--                               name="password"-->
<!--                               id="password"/>-->
<!--                        <small th:if="${#fields.hasErrors('password')}"-->
<!--                               th:errors="*{password}"-->
<!--                               class="text-danger">Error message</small>-->
<!--                    </div>-->
                    <button type="submit" class="btn btn-secondary">Изменить мастера</button>
                </form>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/footer}"/>
</body>
</html>