<!DOCTYPE html>
<html lang="ru" class="h-100" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head}"/>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Имя клиента</th>
                    <th scope="col">Имя мастера</th>
                    <th scope="col">Отзыв</th>
                </tr>
                </thead>
                <tbody>
                <div th:if="${not #lists.isEmpty(model.feedbacks)}">
                    <div th:each="feedback : ${model.feedbacks}">
                        <tr>
                            <td th:text="${feedback.client}"></tdth:text></td>
                            <td th:text="${feedback.master}"></tdth:text></td>
                            <td th:text="${feedback.feedback}"></tdth:text></td>
                        </tr>
                    </div>
                </div>
                </tbody>
            </table>
            <div class="mt-4" sec:authorize="hasRole('USER')">
                <a class="btn btn-outline-success" th:href="@{/client/createFeedback}">Добавить новый отзыв</a>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/footer}"/>
</body>
</html>