<!DOCTYPE html>
<html lang="ru" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"/>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="jumbotron text-center rounded col-md-8 align-self-center pt-5">
                <div class="justify-content-center">
                    <h1>Создать услугу</h1>
                </div>
                <form th:action="@{/attendances/create}"
                      th:method="post"
                      th:object="${form}"
                      class="m-md-auto w-50 pb-3">

                    <div class="mb-3">
                        <label class="form-label" for="name">Название</label>
                        <input th:field="*{name}"
                               th:errorclass="is-invalid"
                               type="text"
                               class="form-control text-center"
                               id="name"/>
                        <small th:if="${#fields.hasErrors('name')}"
                               th:errors="*{name}"
                               class="text-danger">Error message</small>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="price">Цена</label>
                        <input th:field="*{price}"
                               th:errorclass="is-invalid"
                               type="number"
                               name="price"
                               min="0"
                               class="form-control text-center"
                               id="price"/>
                        <small th:if="${#fields.hasErrors('price')}"
                               th:errors="*{price}"
                               class="text-danger">Error message</small>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="masters">Мастера</label>
                        <select th:field="*{masters}"
                                name="masters"
                                th:errorclass="is-invalid"
                                class="form-select"
                                multiple
                                id="masters">
                            <option th:each="master : ${model.masters}"
                                    th:value="${master}"
                                    th:text="${master}"></option>
                        </select>
                        <small th:if="${#fields.hasErrors('masters')}"
                               th:errors="*{masters}"
                               class="text-danger">Error message</small>
                    </div>

                    <button type="submit" class="btn btn-secondary">Создать услугу</button>
                </form>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/footer}"/>
</body>
</html>