<!DOCTYPE html>
<html lang="ru" class="h-100" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head}"></head>
<body class="d-flex flex-column h-100">

<main class="flex-shrink-0">
    <div class="container">
        <div class="justify-content-left">
            <h2>Информация о салоне красоты</h2>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <main class="jumbotron text-left rounded col-md-12 align-self-left pt-5">
                <div class="row bg-light rounded">

                    <h6 th:text="'Название: ' + ${model.name}"></h6>
                    <h6 th:text="'Email: ' + ${model.email}"></h6>
                    <h6 th:text="'Адрес: ' + ${model.address}"></h6>
                    <h6 th:text="'Тип салона: ' + ${model.type}"></h6>

                </div>
                <div class="mt-4" sec:authorize="hasRole('ADMIN')">
                    <a class="btn btn-outline-primary" th:href="@{/beautySalon/{id}/edit(id=${model.id})}">Редактировать</a>
                </div>
            </main>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>